* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.money-manager-main-container {
  width: 90%;
}
.welcome-head-container {
  height: 150px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 15px;
}
.main-heading {
  color: #1e293b;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.main-description {
  color: #1e293b;
  font-size: 18px;
  font-weight: 600;
}
.money-style {
  color: #0b69ff;
  margin-left: 7px;
}
.transaction-main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.transaction-form-container {
  border: 1px solid #7e858e;
  border-radius: 7px;
  padding: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.form-heading {
  color: #1e293b;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: bold;
}
.input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.form-label {
  color:  #334155;
  font-size: 16px;
  margin-bottom: 7px;
  text-transform: uppercase;
}
.input-field {
  padding: 5px;
  border: 1px solid #cbd5e1;
  border-radius: 7px;
  outline: none;
  font-size: 15px;
  background-color: transparent;
  color: #334155;
}
.submit-button {
  color: #ffffff;
  background-color:  #0b69ff;
  border: none;
  border-radius: 7px;
  width: 100px;
  height: 35px;
  margin-top: 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}
.transaction-list-container {
  border: 1px solid #7e858e;
  border-radius: 7px;
  padding: 20px;
  width: 55%;
}
.transaction-list-main-heading {
  color: #1e293b;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  list-style-type: none;
}
.table-header {
  display: flex;
  align-items: center;
  height: 35px;
  background-color: #f1f5f9;
  list-style-type: none;
  border: 1px solid #cbd5e1;
}
.table-header-cell {
  color: #1e293b;
  font-weight: bold;
  font-size: 17px;
  padding: 0 10px;
  min-width: 30%;
}
@media only screen and (max-width: 900px) {
  .money-manager-main-container {
    width: 100%;
  }
  .form-heading {
    font-size: 20px;
  }
  .form-label {
    font-size: 15px;
  }
  .input-field {
    font-size: 14px;
    border-radius: 3px;
  }
  .transaction-list-main-heading {
    font-size: 20px;
  }
  .table-header-cell {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .transaction-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .transaction-form-container {
    margin-bottom: 15px;
    width: 80%;
  }
  .transaction-list-container {
    width: 80%;
  }
  .welcome-head-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 576px) {
  .transaction-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .transaction-form-container {
    margin-bottom: 15px;
    width: 100%;
  }
  .transaction-list-container {
    width: 100%;
  }
}